---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from '../Components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "My Astro Learning Blog";
let today = new Date().toDateString();
---
<BaseLayout pageTitle = {pageTitle}>
	<style>
		h3 {
			color: rgb(133, 202, 248);
		}
	</style>
	<h2>This is where blog articles will be published.</h2>
	<!-- links to blog posts -->
	<ul>
		{allPosts.map((post)=> <BlogPost url={post.url} title={post.frontmatter.title} />)}
	</ul>
	<h3>Today is {today}.</h3>
</BaseLayout>

